@import "tailwindcss";
@font-face {
  font-family: "Omnes";
  src: url("/fonts/Omnes Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Omnes";
  src: url("/fonts/Omnes Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Omnes";
  src: url("/fonts/Omnes Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Omnes";
  src: url("/fonts/Omnes Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Omnes";
  src: url("/fonts/Omnes SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  position: relative;
  background: var(--background);
  color: var(--foreground);
  font-family: "Omnes", Arial, Helvetica, sans-serif;
  @apply bg-cover bg-top bg-no-repeat;
  background-image: url("/img_bg.png");

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1018px;
    background: linear-gradient(180deg, #000 0%, rgba(0, 0, 0, 0) 100%);
  }
  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1018px;
    background: linear-gradient(360deg, #000 0%, rgba(0, 0, 0, 0) 100%);
  }
}

main {
  position: relative;
  &:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 10;
    width: 100%;
    height: 100%;
    background: url("/img_effect.png") no-repeat center top / contain;
    z-index: -999;
  }
}

button {
  cursor: pointer;
}

.bg_1 {
  /* background-image: url("/img_effect.png");
  background-size: contain;
  background-position: 50% 0;
  background-repeat: no-repeat; */
}

.bg_2 {
  background-image: url("/img_bg_2.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.gradient_1 {
  background: linear-gradient(180deg, #000 0%, rgba(0, 0, 0, 0) 100%);
}
.text_gradient_1 {
  background: linear-gradient(180deg, #fff 0%, #7814a3 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.btn_gradient_1 {
  border-radius: 29px;
  border: 0.5px solid #fff;
  background: linear-gradient(180deg, #e6cbff 0%, #512d73 100%);
  &:hover {
    background: linear-gradient(180deg, #fff 0%, #000 100%) !important;
  }
}

.bg_gradient_5 {
  background: linear-gradient(180deg, #3d0b88 0%, #2c2a8b 100%);
  box-shadow: 0 4px 30px 13px rgba(0, 0, 0, 0.25);
}

.video_1 {
  border-radius: 18px;
  border: 1px solid #3b0659;
  box-shadow: 0 4px 27.7px 3px #000;
}
